<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Ads</title>
    <head th:replace="partials/partials :: head"></head>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<div class="container" sec:authorize="isAuthenticated()">

    <h2>Create Post</h2>

    <form th:action="@{/posts/create}" th:method="post" th:object="${post}" class="form-group">
        <label for="title">Title: </label>
        <input th:field="*{title}" type="text" name="title" id="title" class="field form-text"/>
        <br><br>
        <label for="body">Body:</label><br>
        <textarea th:field="*{body}" name="body" id="body" class="field form-text" rows="4" cols="50"></textarea><br>
        <button>Save</button>
    </form>

</div>

<standard_scripts th:replace="partials/partials :: footer">
</standard_scripts>
</body>
</html>