<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
    <head th:replace="partials/partials :: head"></head>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<div class="container">

    <h2>Edit Post</h2>

    <form method="post" th:action="@{'/posts/edit/' + ${post.getId()}}" class="form-group">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" class="field" th:value="${post.title}"/>
        <br><br>
        <label for="body">Body:</label><br>
        <textarea name="body" id="body" class="field" rows="4" cols="50" th:text="${post.body}"></textarea><br>
        <button type="submit">Edit</button>
    </form>


</div>

<standard_scripts th:replace="partials/partials :: footer">
</standard_scripts>
</body>
</html>