<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
    <head th:replace="partials/partials :: head"></head>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<div class="container">
    <h2>Individual Post:</h2>

    <p style="font-weight: bold;" th:text="${post.title}"></p>
    <p style="padding-left: 2rem;" th:text="${post.body}"></p>
    <p style="padding-left: 2rem;" th:text="${post.getUser().getEmail()}"></p>

</div>

<standard_scripts th:replace="partials/partials :: footer">
</standard_scripts>
</body>
</html>