<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>

<!--    stylesheet information-->
    <div th:fragment="head">
        <meta charset="UTF-8" />
<!--        <link th:href="@{/bootstrap.css}" rel="stylesheet">-->
<!--        <link th:href="@{/style.css}" rel="stylesheet">-->
        <link th:href="@{/css/bootstrap-3.4.1-dist/css/bootstrap.css}" rel="stylesheet">
        <link th:href="@{/custom-css/custom-style.css}" rel="stylesheet">
    </div>

</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-default">
    <!-- awesome navbar goes here -->
    <ul class="nav navbar-nav">
<!--        move nav item class into lis-->
        <li class="nav-item"><a href="/home">Home</a> </li>
        <li class="nav-item"><a href="/hello/Fortuna">Hello</a></li>
        <li class="nav-item"><a href="/join">Join</a></li>
        <li class="nav-item"><a href="/welcome">Welcome</a></li>
        <li class="nav-item"><a href="/roll-dice">Dice Game</a></li>
        <li class="nav-item"><a href="/ads">Ads</a></li>
        <li class="nav-item"><a href="/ads/create">Create Ad</a></li>
        <li class="nav-item"><a href="/posts">Posts</a></li>
        <li class="nav-item"><a href="/posts/create">Create Post</a></li>
        <li class="nav-item"><a href="/books">Books</a></li>
        <li class="nav-item">
        <li class="nav-item">
            <form th:action="@{/login}" th:method="post">
                <button class="nav-link" style="margin-top: 8px">Login</button>
            </form>
        </li>
        <li class="nav-item">
            <form th:action="@{/logout}" th:method="post">
                <button class="nav-link" style="margin-top: 8px">Logout</button>
            </form>
        </li>
        <li class="nav-item">
            <a href="/register">
<!--                class=btn in bootstrap-->
                <button class="nav-link" style="margin-top: -7px" >Register</button>
            </a>
        </li>
    </ul>
</nav>

<standard_scripts th:fragment="footer">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</standard_scripts>
</body>
</html>