/*//////////////////////*/
  /*GENERAL COLOR FONT*/
/*//////////////////////*/
* {
    color: #27374C;
}

/*//////////////////////*/
      /*MEDIA QUERY*/
/*//////////////////////*/
@media (max-width: 770px){
    button.nav-link.register-button {
        margin-left: 1px;
        margin-top: -7.5px;
    }
}

/*//////////////////////*/
/*GENERAL TAGS & SETTINGS*/
/*//////////////////////*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h1 {
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}

h2 {
    font-family: 'Major Mono Display', monospace;
}

p {
    font-family: 'Raleway', sans-serif;
}

/*//////////////////////*/
 /*NAV BAR AND CHILDREN*/
/*//////////////////////*/
.navbar {
    background-color: #C3EECF;
    text-align: center;
}

label {
    font-family: 'Raleway', sans-serif;
}

.template-h2 {
    margin: 0 auto;
}

ul li .nav-item {
    color: #27374C;
}
/*//////////////////////*/


/*//////////////////////*/
       /*BUTTONS*/
/*//////////////////////*/
button {
    color: #6E95C4;
    text-align: center;
    padding: 10px;
    border-radius: 100vmax;
    border: 3px solid #6E95C4;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
button:hover {
    transition: ease 255ms;
    background-color: #6E95C4;
    color: #fff;
}
.register-button {
    margin-top: -18px;
    margin-left: -15px;
    font-family: 'Raleway', sans-serif;
}
.register-input {
    color: #6E95C4;
    text-align: center;
    padding: 10px;
    border-radius: 100vmax;
    border: 3px solid #6E95C4;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.register-input:hover {
    transition: ease 255ms;
    background-color: #6E95C4;
    color: #fff;
}
.login-button {
    color: #6E95C4;
    text-align: center;
    padding: 10px;
    border-radius: 100vmax;
    border: 3px solid #6E95C4;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.login-button:hover {
    transition: ease 255ms;
    background-color: #6E95C4;
    color: #fff;
}
.logout {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.edit-button {
    letter-spacing: 7px;
    text-align: center;
    list-style-type: none;
    text-underline: none;
    text-decoration: none;
}
.edit-button:hover {
    transition: ease 255ms;
    letter-spacing: 3px;
    list-style-type: none;
    text-underline: none;
    text-decoration: none;
}
.delete-button {
    letter-spacing: 3px;
    text-align: center;
    list-style-type: none;
    text-underline: none;
    text-decoration: none;
}
.delete-button:hover {
    transition: ease 255ms;
    letter-spacing: 7px;
}
/*//////////////////////*/

/*//////////////////////*/
/*HOME TEMPLATE*/
/*//////////////////////*/
#first-h {
    animation: letter-fade-in 2s ease-in-out;
}
@keyframes letter-fade-in {
    0% {
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
#first-e {
    animation: letter-fade-in 2.2s ease-in;
    animation-delay: .2s;
}
#first-l {
    animation: letter-fade-in 2.4s ease-in;
    animation-delay: .4s;
}
#second-l {
    animation: letter-fade-in 2.6s ease-in;
    animation-delay: .6s;
}
#first-o {
    animation: letter-fade-in 2.8s ease-in;
    animation-delay: .8s;
}
#first-t {
    animation: letter-fade-in 3s ease-in;
    animation-delay: .10s;
}
#first-r {
    animation: letter-fade-in 3.2s ease-in;
    animation-delay: .12s;
}
#first-a {
    animation: letter-fade-in 3.4s ease-in;
    animation-delay: .14s;
}
#first-v {
    animation: letter-fade-in 3.6s ease-in;
    animation-delay: .16s;
}
#second-e {
    animation: letter-fade-in 3.8s ease-in;
    animation-delay: .18s;
}
#third-l {
    animation: letter-fade-in 4s ease-in;
    animation-delay: .20s;
}
#fourth-l {
    animation: letter-fade-in 4.2s ease-in;
    animation-delay: .22s;
}
#third-e {
    animation: letter-fade-in 4.4s ease-in;
    animation-delay: .24s;
}
#second-r {
    animation: letter-fade-in 4.6s ease-in;
    animation-delay: .26s;
}


/*//////////////////////*/
    /*LOGIN TEMPLATE*/
/*//////////////////////*/
.login-form {
    text-align: center;
}
input#username {
    border: 3px solid #6E95C4;
    border-radius: 100vmax;
    font-family: 'Raleway', sans-serif;
}
input#password {
    border: 3px solid #6E95C4;
    border-radius: 100vmax;
    font-family: 'Raleway', sans-serif;
}
input#email {
    border: 3px solid #6E95C4;
    border-radius: 100vmax;
    font-family: 'Raleway', sans-serif;
}
/*//////////////////////*/

.register-form {
    text-align: center;
}

/*//////////////////////*/
     /*POST TEMPLATE*/
/*//////////////////////*/
.post-title {
    border: 5px solid #6E95C4;
    border-radius: 100vmax;
    background-color: #fff;
    margin: 10px auto;
    width: 80%;
    box-shadow: 0 7px 11px rgba(0,0,0,0.30), 0 5px 5px rgba(0,0,0,0.22);
}
.post-div {
    border: 5px solid #6E95C4;
    background-color: #C3EECF;
    text-align: center;
    /*border-radius: 100vmax;*/
    margin: 20px 0;
    box-shadow: 0 11px 15px rgba(0,0,0,0.30), 0 12px 12px rgba(0,0,0,0.22);
    text-wrap: normal;
}
.delete-link {
    list-style-type: none;
    text-underline: none;
    text-decoration: none;
}
.delete-link:hover {
    list-style-type: none;
    text-underline: none;
    text-decoration: none;
}
.edit-link {
    list-style-type: none;
    text-underline: none;
    text-decoration: none;
}
.edit-link:hover {
    list-style-type: none;
    text-underline: none;
    text-decoration: none;
}
input#title.field.form-text, input#title.field {
    border: 3px solid #6E95C4;
    border-radius: 100vmax;
    margin: 0 auto;
}
textarea#body.field.form-text, textarea#body.field {
    border: 3px solid #6E95C4;
    /*border-radius: 25px;*/
    margin: 0 auto;
}
/*//////////////////////*/


/*//////////////////////*/
  /*ROLL DICE TEMPLATE*/
/*//////////////////////*/
.dice-title {
    text-align: center;
    color: #6E95C4;
}
.roll-numbers{
    text-align: center;
    letter-spacing: 5px;
    margin-top: 20px;
}
.roll-numbers button {
    /*color: #5e5e5e;*/
    border: 3px solid #6E95C4;
    margin: 10px 15px;
    border-radius: 50%;
    padding: 5px 11px;
    list-style-type: none;
}
/*//////////////////////*/