
<!--*** view for /home ***-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Home</title>
<head th:replace="partials/partials :: head">
</head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>
<!--above is fragment which will replace content its in with above navbar partial-->
<h1 class="traveller-title">
    <span id="first-h">H</span>
    <span id="first-e">e</span>
    <span id="first-l">l</span>
    <span id="second-l">l</span>
    <span id="first-o">o</span>
    <br>
    <span id="first-t">t</span>
    <span id="first-r">r</span>
    <span id="first-a">a</span>
    <span id="first-v">v</span>
    <span id="second-e">e</span>
    <span id="third-l">l</span>
    <span id="fourth-l">l</span>
    <span id="third-e">e</span>
    <span id="second-r">r</span>
</h1>
<br>
<div class="h2s-home">
    <h2>Share any thoughts you'd like through a post.</h2>
    <h2>Feel free to modify or remove any post you wish.</h2>
    <h2>While you're here, all the words are yours.</h2>
</div>

<div class="spin-container">
    <div class="spinning">
        <div class="square two">
            <div class="square">
                <div class="square two">
                    <div class="square">
                        <div class="square two">
                            <div class="square">
                                <div class="square two">
                                    <div class="square">
                                        <div class="square two">
                                            <div class="square">
                                                <div class="square two">
                                                    <div class="square">
                                                        <div class="square two">
                                                            <div class="square">
                                                                <div class="square two">
                                                                    <div class="square">
                                                                        <div class="square two">
                                                                            <div class="square">
                                                                                <div class="square two">
                                                                                    <div class="square">
                                                                                        <div class="square two">
                                                                                            <div class="square">
                                                                                                <div class="square two">
                                                                                                    <div class="square">
                                                                                                        <div class="square two">
                                                                                                            <div class="square">
                                                                                                                <div class="square two">
                                                                                                                    <div class="square">
                                                                                                                        <div class="square two">
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h5 style="text-align: center">Hover over, rover.</h5>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>