
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>

<title>Dice Roll</title>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

</nav>
<div th:if="${userRoll == null}" class="roll-numbers">
    <h1 class="dice-title">Pick number from 1-6 to guess dice rolls</h1>
    <a href="/roll-dice/1"><button>1</button></a>
    <a href="/roll-dice/1"><button>2</button></a>
    <a href="/roll-dice/1"><button>3</button></a>
    <a href="/roll-dice/1"><button>4</button></a>
    <a href="/roll-dice/1"><button>5</button></a>
    <a href="/roll-dice/1"><button>6</button></a>
</div>

<div th:if="${userRoll != null}" class="text-center">
    <div th:each="item : ${diceRolls}">
        <h1 style="text-align: center">Number of your roll: <span th:text="${item}"></span></h1>
        <h2 th:if="${userRoll == item}">This roll matches with yours</h2>
    </div>
    <h1>You chose number: <span th:text="${userRoll}"></span> </h1>

    <a href="/roll-dice"><button type="submit">Go again</button></a>
</div>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>

</body>
</html>