
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>

<title>Dice Roll</title>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

</nav>
<div th:if="${userRoll == null}">
    <h1>Pick number from 1-6 to guess dice rolls</h1>
    <a href="/roll-dice/1">1</a>
    <a href="/roll-dice/2">2</a>
    <a href="/roll-dice/3">3</a>
    <a href="/roll-dice/4">4</a>
    <a href="/roll-dice/5">5</a>
    <a href="/roll-dice/6">6</a>
</div>

<div th:if="${userRoll != null}">
    <div th:each="item : ${diceRolls}">
        <h1>Number of your roll: <span th:text="${item}"></span></h1>
        <h2 th:if="${userRoll == item}">This roll matches with yours</h2>
    </div>
    <h1>You chose number: <span th:text="${userRoll}"></span> </h1>

    <button type="submit"><a href="/roll-dice">Go again</a></button>
</div>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>

</body>
</html>