<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>
<!--above is fragment which will replace content its in with above navbar partial-->

<h1 style="text-align: center">Welcome To My Site!</h1>


<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
<!--above is fragment which will replace content its in with above footer partial-->
</body>
</html>